

p:last-child{
    letter-spacing: 50px;
}
li:last-child{
    letter-spacing: 50px;
}

p:nth-child(even){
    font-size: 2rem;
    color: orange;

}
li:nth-child(even){
    font-size: 2rem;
    color: orange;
}
p:nth-child(odd){
    font-weight: bold;
}
li:nth-child(odd){
    font-weight: bold;
}